@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Satisfy&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul li a {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 10em;
    color: transparent;
    text-decoration: none;
    letter-spacing: 4px;
    -webkit-text-stroke: 5px rgba(255,255,255,0.7);
}
ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s ease-out;
    border-right: 0 solid var(--clr);
    -webkit-text-stroke: 5px var(--clr);
}
ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 50px var(--clr));
}
img {
    width: 150px;
}